In [1]:
import pandas as pd
import random
df_cleaned = pd.read_csv("df_cleaned.csv")

In [2]:
import pandas as pd
import random

expert_keywords = ["manager", "director", "head", "vp", "chief", "cto", "cio", "cdo", "executive", "senior director", "head of"]
senior_keywords = ["senior", "lead", "principal", "advanced", "senior consultant", "senior specialist"]
mid_keywords = ["specialist", "consultant", "developer", "coordinator"]
junior_keywords = ["junior", "entry", "trainee", "intern", "graduate", "apprentice", "associate", "data analyst", "data scientist",
                   "data engineer", "machine learning", "ml engineer", "ai engineer", "data engnieer"]

def classify_experience(job_title):
    job_title = str(job_title).lower()

    Experience_Level = "unknown"
    Experience_years = 0  

    if any(keyword in job_title for keyword in expert_keywords):
        Experience_Level = "expert"
        Experience_years = random.randint(10, 15)

    elif any(keyword in job_title for keyword in senior_keywords):
        Experience_Level = "senior"
        Experience_years = random.randint(5, 10)

    elif any(keyword in job_title for keyword in mid_keywords):
        Experience_Level = "mid-level"
        Experience_years = random.randint(2, 5)

    elif any(keyword in job_title for keyword in junior_keywords):
        Experience_Level = "junior"
        Experience_years = random.randint(0, 2)

    return Experience_years, Experience_Level

df_cleaned.drop(columns=['Experience_years', 'Experience_Level'], errors='ignore', inplace=True)

df_cleaned[["Experience_years", "Experience_Level"]] = df_cleaned["Job Title"].apply(classify_experience).apply(pd.Series)

new_csv_filename = "df_cleaned.csv"
df_cleaned.to_csv(new_csv_filename, index=False)

print(f" New file saved: {new_csv_filename}")

✅ فایل جدید ذخیره شد: df_cleaned.csv

In [3]:
df = pd.read_csv("df_cleaned.csv")

In [4]:
df.shape

(2355, 13)

In [5]:
df[(df["Experience_Level"] == "junior")].shape[0]

1545

In [6]:
df[(df["Experience_Level"] == "senior")].shape[0]

642

In [7]:
df[(df["Experience_Level"] == "expert")].shape[0]

73

In [8]:
df[(df["Experience_Level"] == "mid-level")].shape[0]

95

In [9]:
df[(df["Experience_Level"] == "unknown")].shape[0]

0

In [10]:
df_ = df[(df["Experience_Level"] == "unknown")]
df_

Empty DataFrame
Columns: [Job Title, Company, Location, Salary Min, Salary Max, Description, Extracted Skills, Longitude, Latitude, URL, Created, Experience_years, Experience_Level]
Index: []

In [11]:
df_cleaned = df_cleaned[df_cleaned["Experience_Level"] != "unknown"]
df_cleaned.to_csv("df_cleaned.csv", index=False)

In [12]:
import pandas as pd
import re

def extract_experience_years(description):
    description = str(description).lower()  
    
    match = re.search(r'(\d+)\s*(?:\+?\s*years?|jahre?|yrs?)', description)
    
    if match:
        return int(match.group(1))  
    return None  

def update_experience_years(row):
    extracted_years = extract_experience_years(row["Description"])  
    
    if extracted_years is not None:  
        if pd.isna(row["Experience_years"]) or row["Experience_years"] != extracted_years:
            return extracted_years  
    
    return row["Experience_years"] 


df_cleaned["Experience_years"] = df_cleaned.apply(update_experience_years, axis=1)

df_cleaned.to_csv("df_cleaned.csv", index=False)
print("Die Experience_Years-Spalte wurde basierend auf der Beschreibung aktualisiert!")

✅ Die Experience_Years-Spalte wurde basierend auf der Beschreibung aktualisiert!